.umis-list__container {
  .el-checkbox {
    position: absolute;
    top: 0;
    left: 3px;
  }
  .el-checkbox__label {
    display: none;
  }
  .umis-list__item {
    position: relative;
    min-width: 82px;
    min-height: 35px;
    margin: 10px;
    display: inline-block;
    border: 0;
    cursor: pointer;
  }
  .umis-list__item__text {
    width: 82px;
    height: 35px;
    font-size: 14px;
    text-align: center;
    line-height: 35px;
  }
}
