body {
  background-color: #f0f3f4;
}
.mis-card-margin {
  margin: 10px 0;
}

.el-card__footer {
  padding: 10px 20px;
  box-sizing: border-box;
  border-top: 1px solid #ebeef5;
}

.mis-avatar-margin {
  margin: 20px;
}

.umis-layout__container {
  height: 100vh;
  border: 1px solid #eee;

  .umis-layout__container__aside {
    background-color: #545c64;

    .umis-layout__container__aside__menu {
      border-right: 1px;
    }
  }

  .umis-layout__container__drawer {
    background-color: #3a3f51; // #282a36 !important;

    .el-drawer__header {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding: 0 20px 0 20px;
      color: #72767b;
    }
  }
  .umis-layout__container__header {
    border: 1px solid #eee;
    background-color: #fff;
    line-height: 60px;
    text-align: right;
    font-size: 12px;
  }
}
