.mis-avatar-margin {
  margin: 20px;
}

.umis-layout__container {
  height: 100vh;

  .umis-layout__container__drawer {
    background-color: #3a3f51; // #282a36 !important;

    .el-drawer__header {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding: 5px 20px;
      border-bottom: 0;
      background: #282a36;
      color: #72767b;
    }
    .umis-popup__container__body {
      padding: 0;
      overflow: hidden;
    }
  }
  .umis-layout__container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dcdfe6;
    line-height: 60px;
    text-align: right;
    font-size: 12px;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  }
}

.el-loading-spinner {
  .circular {
    background-image: url('~assets/imgs/loading.svg');
    background-position: center;
    background-size: cover;
    animation: loading-rotate 1s linear infinite;
    animation-direction: reverse;
  }
  .path {
    display: none;
  }
}
